<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwt.mybatis.jwtApplication.repository.UserRepository">

    <resultMap id="userDataResultMap" type="com.jwt.mybatis.jwtApplication.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>

    <select id="findUserByUsername" resultMap="userDataResultMap" parameterType="String">
        SELECT * FROM userdata WHERE username = #{username}
    </select>

</mapper>
